/******************************
Flexbox Layout
*******************************/

.header, .nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.nav {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media all and (min-width: 640px) {
  .header, .nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    -webkit-flex: none;
    flex: none;
  }
}


/******************************
Treehouse Styling
*******************************/

body {
  margin: 0;
  font-family: Helvetica;
  background-image: url(wall.jpg);
  /*background: url('2.JPG') top center no-repeat;
  background-size: auto;*/
}

.header {
  position: relative;
  padding: 20px 0;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.25);
  background-size: cover;
  height: 25px;
  min-width: 1920px;
}
.imageHolder {
	position: relative;
	margin-top: 10px;
	min-width: 1920px;
}
.welcomeImg {
	
	position: relative;
	min-width: 1920px;
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	float: left;
}
.logo {
  background: transparent url('1.PNG') center center no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: -12px 30px;
  cursor: pointer;
}
.Biglogo {
  position: absolute;
  background: transparent url('1.PNG') center center no-repeat;
  width: 400px;
  height: 400px;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 190px 200px;
}
.Biglogo:hover~.Biglogo2 {
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
	opacity: 0;
}
.Biglogo:hover~.Biglogo3
{
	-webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    opacity: 1;
}
.Biglogo2 {
  color:rgb(241,117,98);
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  margin: 350px 700px;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 1;
}
.Biglogo3 {
  width: 500px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0;
  color:rgb(241,117,98);
  position: absolute;
  margin: 250px 700px;
  word-wrap: break-word;
}
.logo2 {
  background: transparent url('3.PNG') center center no-repeat;
  width: 150px;
  height: 100px;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  /*padding: 20px 0;*/
  margin:-35px 20px;
  right:10px;
  top:-5px;
}
.logo3 {
  font-size: 8.5px;
  color:black;
  margin: 0 10px;
  position: absolute;
  right:27px;
  top:50px;
}

.nav {
  list-style: none;
  margin-top: -10px;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  transition: 200ms ease-in-out;
  border-bottom: 1px solid transparent;
}

.nav li a:hover {
  color: rgba(255,255,255,0.7);
  transition: 200ms ease-in-out;
  border-color: #fff;
}
